<link rel="stylesheet" type="text/css" href="css/AboutUs.css">
<div class="jumbotron text-center" align = center>
<div class="row">
<div class="col-lg-6">
<br />
<br />
<p><img src="images/home/logo4.png" width=400px height = inherit></img></p>
<p><img src="images/1.png" width=400px height = inherit></img></p>
</div>

<div class="col-lg-6">
<h><b>About Our Team</b></h>
<br />
<p style="font-weight:400;font-size:24px;"> net[Work] is a team of 8 programmers:</p>
<p> <b>Jonathan Chen </b> - log in and sign up pages.</p><br />
<p> <b>Navjot Bola</b> - profile, log in, and messaging pages.</p><br />
<p> <b>Josh Sylvia</b>- search page.</p> <br />

<p> <b>Sydney Snyder</b> - home and connection pages.</p><br />
<p> <b>Tahsin Hossain</b> - connection page.</p><br />
<p> <b>Haokai Ma</b> - messaging page.</p><br />
<p> <b>Aishwarya Borkar</b> - forums page.</p><br />
<p> <b>Stacy Wong</b> - forums page.</p><br />
</div>
</div>

