<div class="jumbotron text-center">
<!-- Connection page-->

<h1>Requests</h1>
<TABLE BORDER="5"    WIDTH="25%"   CELLPADDING="4" CELLSPACING="3">
  
   <tr>
      <th>
<div class="boxed">
<img src="man.jpeg" alt="man" style="width:100px;height:100px;">

<p><b>John Moore</b></p>
<p> Software Engineer- Intel</p>
<button type="button">Accept </button>
<button type="button">Deny</button>

 </th>
     
<th>
<div class="boxed">
<img src="woman.jpg" alt="woman" style="width:100px;height:100px;">

<p><b>Olivia Smith</b></p>
<p> Web Developer- Ebay</p>
<button type="button">Accept </button>
<button type="button">Deny</button>

 
    
         <th>
<div class="boxed">
<img src="man.jpeg" alt="man" style="width:100px;height:100px;">

<p><b>William Jones</b></p>
<p> Software Engineer- Cisco</p>
<button type="button">Accept </button>
<button type="button">Deny</button>
 </th>
    </tr>
</table>



<hr width="1500" align="left"> 

<h1 ng-controller="ConnectionController">{{heading}}</h1>


<TABLE BORDER="5"    WIDTH="25%"   CELLPADDING="4" CELLSPACING="3">
  
   <tr>
             <th>
<div class="boxed">
<img src="man.jpeg" alt="man" style="width:100px;height:100px;">

<p><b>Tom Lee</b></p>
<p> Software Engineer- Cisco</p> 

 </th>
</tr>
   <tr align="CENTER">
      <TD>Friend 2</TD> 
   <tr align="CENTER">
      <td>Friend 3</td>  
   </tr>
   <tr align="CENTER">
      <td>Friend 4</td> 
   <tr align="CENTER">
      <td>Friend 5</td> 
   </tr>
</table>

<hr width="1500" align="left"> 

<!-- Connection page ends here-->


</div>
