
<div class="jumbotron text-center">
<!-- Connection page-->

<h1>Requests</h1>

<TABLE BORDER="5"    WIDTH="25%"   CELLPADDING="4" CELLSPACING="3">
  
   <tr>
      <th>
      <div class="boxed">
          <img src="./images/connection/man1.png" alt="man" style="width:100px;height:100px;">

          <p><b>John Moore</b></p>
          <p> Software Engineer- Intel</p>
            <button type="button">Accept </button>
            <button type="button">Deny</button>

      </th>
     
      <th>
      <div class="boxed">
          <img src="./images/connection/woman1.jpg" alt="woman" style="width:100px;height:100px;">

          <p><b>Olivia Smith</b></p>
          <p> Web Developer- Ebay</p>
            <button type="button">Accept </button>
            <button type="button">Deny</button>

      </th>

    
      <th>
      <div class="boxed">
          <img src="./images/connection/man2.jpeg" alt="man" style="width:100px;height:100px;">

          <p><b>William Jones</b></p>
          <p> Software Engineer- Cisco</p>
            <button type="button">Accept </button>
            <button type="button">Deny</button>
       </th>
   </tr>
</table>
        <hr width="1500" align="left"> 





<h1> Friends</h1>


<TABLE BORDER="5"    WIDTH="25%"   CELLPADDING="4" CELLSPACING="3">
  
   <tr>
      <th>
      <div class="boxed">
          <img src="./images/connection/woman1.jpg" alt="woman" style="width:100px;height:100px;">

          <p><b>Patricia Jones</b></p>
          <p> Network Manager- AT&T</p> 

      </th>
     
      <th>
      <div class="boxed">
          <img src="./images/connection/man2.jpeg" alt="man" style="width:100px;height:100px;">

          <p><b>Tom Lee</b></p>
          <p> Software Developer Ebay</p> 
       </th>

    
      <th>
      <div class="boxed">
          <img src="./images/connection/man2.jpeg" alt="man" style="width:100px;height:100px;">

          <p><b>Harris Walker</b></p>
          <p> Software Engineer- Amazon</p> 
       </th>


      </th>

    
      <th>
      <div class="boxed">
          <img src="./images/connection/man2.jpeg" alt="man" style="width:100px;height:100px;">

          <p><b>Nelson Parker</b></p>
          <p> Software Developer- Ebay</p> 
       </th>


    </tr>
</table>
        <hr width="1500" align="left"> 

<!-- Connection page ends here-->


    </div>

