 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<div class="container" style="font-family:Arial, Gadget, sans-serif;">
  <h2>Create Forum</h2>
  <form>
    <div class="form-group">
      <label for="title">Title of Forum:</label>
      <input type="title" class="form-control" id="title" placeholder="Title of Forum" ng-model="forum.title" required>
    </div>
    <div class="form-group input-mysize">
      <label for="description">Description:</label>
      <input type="description" class="form-control" id="description" placeholder="Description" ng-model="forum.description" required>
    </div>
    <button type="submit" class="btn btn-primary" ng-click="createForum(forum)">Create</button>
  </form>
</div>
</div>