<link rel="stylesheet" type="text/css" href="css/forumstyle.css">

<div>
<div class="jumbotron text-center">


	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<a href="createForum"><button type="button" class="btn btn-primary btn-lg">Create Forum</button></a>
			</div>
		</div>
	</div>

	<br>
	<div class="container">
		<div class="row">
				<div class="col-md-8">
					<div class="media forums" ng-repeat="post in posts">
						<div class="media-left">
								<img class="media-object" src="images/forum/profileFiller.jpg">
								<p>By: {{post.forumOwnerName}}</p>
								<p>Date: {{post.date}}</p>
						</div>
						<div class="media-body" ng-model="post">
							<a href="#" ng-click="loadForumById(post)"><h4 class="media-heading">{{post.title}}</h4></a>
							<p>{{post.description}}</p>
						</div>
					</div>
				</div>

			<div class="col-md-4">
				<div class="media featured">
					<h2>Featured</h2>
					<div ng-repeat="post in posts" ng-model="post">
						<a href="#" ng-click="loadForumById(post)"><p><span class="glyphicon glyphicon-cloud"></span>{{post.title}}</p></a>
					</div>

					
				</div>
			</div>

		</div>
	</div>
</div>
</div>