<link rel="stylesheet" type="text/css" href="css/ForumTopicStyle.css">
<link rel="stylesheet" href="http://fontawesome.io/assets/font-awesome/css/font-awesome.css">
<div>
    <div class="jumbotron text-center">

    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <a href="createForum"><button type="button" id="createBtn" class="btn btn-primary btn-lg">Create Forum</button></a>
            </div>
        </div>
    </div>

    <br>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
               
                    <div class="media forums">
                        <div class="media-left">
                            <img class="media-object img-circle" ng-src="{{'http://localhost:8080/api/userImage/' + forum.ownerId}}" alt="Cinque Terre" width = 100px height = 100px >
                            <p>By: {{forum.forumOwnerName}}</p>
                            <p>Date: {{forum.date}}</p>

                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">{{forum.title}}</h4>
                            <hr>
                            {{forum.description}}
                        </div>

                    </div>
            </div>
        </div>
    </div>

    <br>

    <div class="container" id="comments">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default" ng-repeat="comment in comments track by $index">
                        <div class="panel-body">  
                            <header class="text-left">
                                <div class="comment-user"><i class="fa fa-user" style="padding-right: 5px;"></i>{{comment.commentOwnerName}}</div>
                                <time class="comment-date" datetime="16-12-2014 01:05"><i class="fa fa-clock-o"></i>{{comment.date}}</time>
                            </header>               
                            
                            <img class="comment-owner img-circle" ng-src="{{'http://localhost:8080/api/userImage/' + comment.ownerId}}" alt="Cinque Terre" width = 100px height = 100px >
                            <div class="comment-post">
                                   {{comment.description}}
                            </div>
                        </div>
                  
                    </div>
            </div>
            </div>
        <div class="row">
            <div class="col-md-8">
                  <div class="form-group">
                        
                        <textarea class="form-control" id="exampleTextarea" rows="3" ng-model="comment.description"></textarea>
                  </div>
                <input type="submit" id="submitBtn" class="btn btn-primary" name="submit" ng-click="addComment(comment)" value="Add Comment"/>
            </div>
        </div>

        </div>
    </div>
        


</div>

</div>