<link rel="stylesheet" type="text/css" href="css/forumstyle.css">
<div>
	<div id="forumOptions">
		<div id="forumOptionsWrapper">
			<ul id="options">
				<li><a href="#">Connections</a></li>
				<li>|</li>
				<li><a href="#">Topics</a></li>
				<li>|</li>
				<li><a href="#">FAQs</a></li>
				<li>|</li>
				<li><a href="#">Support</a></li>
			</ul>
		</div>
	</div>

	<br>
	<br>
	<br>

	<div class="forum" ng-controller="ForumController">
		<div class="media">
			<div class="media-left">
				<a href="#">
					<a href="ForumTopic.html"><img class="media-object" src="images/profileFiller.jpg"></a>
				</a>
			</div>
			<div class="media-body" ng-model="heading">
				<h4 class="media-heading"><a href="ForumTopic.html">{{heading}}</a></h4>
				Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
				<!--<div class="media m-t-2">
					<a class="media-left" href="#">
						<img class="media-object" src="images/profile.png">
					</a>
					<div class="media-body">
						<h4 class="media-heading">Nested media heading</h4>
						Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
					</div>
				</div>-->
			</div>
		</div>
	</div>

	<br>
	<br>

	<div class="forum" ng-controller="ForumController">
		<div class="media">
			<div class="media-left">
				<a href="#">
					<a href="ForumTopic.html"><img class="media-object" src="images/profile.png"></a>
				</a>
			</div>
			<div class="media-body" ng-model="heading">
				<h4 class="media-heading"><a href="ForumTopic.html">{{heading}}</a></h4>
				Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
			</div>
		</div>
	</div>

	<br>
	<br>

</div>