<link rel="stylesheet" type="text/css" href="css/forumstyle.css">
<div>
	<div id="forumOptions">
		<ul>
		<li>Connections</li>
		<li>Topics</li>
		<li>FAQs</li>
		<li>Support</li>
	</ul>
	</div>

	<div class="forum">
		<ul class="list-group">
		  <li class="list-group-item">Cras justo odio</li>
		  <li class="list-group-item">Dapibus ac facilisis in</li>
		  <li class="list-group-item">Morbi leo risus</li>
		  <li class="list-group-item">Porta ac consectetur ac</li>
		  <li class="list-group-item">Vestibulum at eros</li>
		</ul>

	</div>

	<br>

	<div class="forum">

	</div>

</div>