<link rel="stylesheet" type="text/css" href="css/homestyle.css">

<div id="myCarousel" class="carousel slide" data-ride="carousel" style="margin-bottom: 20px;">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active" align="center">
      <img src="./images/home/typing.jpeg" alt="Chania">
      <div class="carousel-caption">
        <h style="float: right;margin-right:80px;">Who Are We?</h>
         <br /><br /><br /><br />
        <p1>We are a professional networking website, looking to connect regular users with the companies of their dreams.</p1>
         <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
      </div>
    </div>

    <div class="item" align = center>
      <img src="./images/home/computer.jpeg" alt="Chania">
      <div class="carousel-caption">
        <h style="float: left;">What Do We Do?</h>
         <br /><br /><br /><br />
        <p1>We connect people to companies. No matter what field you are in, the perfect job is waiting for you and you can find it here at net[Work].</p1>
         <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
      </div>
    </div>

    <div class="item" align = center>
      <img src="./images/home/writing.jpg" alt="Flower">
      <div class="carousel-caption">
        <h style="float: right;">Why Is It Important?</h>
         <br /><br /><br /><br />
        <p1>We believe connecting with companies and other professionals is essential to a successful career. Making a personal connection is the first step to landing your dream job.</p1>
        <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
      </div>
    </div>

    <div class="item" align = center>
      <img src="./images/home/meeting.jpg" alt="Flower">
      <div class="carousel-caption">
        <h style="float: right;margin-right:75px;">Start Connecting</h>
        <br /><br /><br /><br />
        <p1 style="float:left;margin-left:200px;">Sign up or log in to begin your work journey today. </p1>
        <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
      </div>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>