<link rel="stylesheet" type="text/css" href="css/homestyle.css">

<div class="jumbotron text-center">
	<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active" align = center>
      <img src="./images/home/typing.jpeg" alt="Chania">
      <div class="carousel-caption">
        <h2>Who Are We?</h2>
         <br />
        <p>We are a professional networking website, looking to connect regular users with the companies of their dreams.</p>
      </div>
    </div>

    <div class="item" align = center>
      <img src="./images/home/computer.jpeg" alt="Chania">
      <div class="carousel-caption">
        <h2>What Do We Do?</h2>
         <br />
        <p>We connect people to companies. No matter what field you are in, the perfect job is waiting for you and you can find it here at net[Work].</p>
      </div>
    </div>

    <div class="item" align = center>
      <img src="./images/home/writing.jpg" alt="Flower">
      <div class="carousel-caption">
        <h2>Why Is It Important?</h2>
         <br />
        <p>We believe connecting with companies and other professionals is essential to a successful career. Making a personal connection is the first step to landing your dream job.</p>
      </div>
    </div>

    <div class="item" align = center>
      <img src="./images/home/interview.jpg" alt="Flower">
      <div class="carousel-caption">
        <h2>Start Working!</h2>
        <br />
        <p>Sign up or log in to begin your work journey today.</p>
      </div>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

</div>