<div class="jumbotron text-center" style = "background-color: white;">
	<link rel="stylesheet" type="text/css" href="../css/common.css" />
	<script type="text/javascript" src="../js/message.js" ></script>
	<div class="main-wrapper">
    		
			<div class="menu">
            		<a href="javascript:void(0);" onclick="document.getElementById('pop').style.display = 'block';" class="write"><span>Write New Message</span></a>
					<div class="icon-list">
                    	
						<a href="javascript:void(0);" onclick="document.getElementById('all-msg').style.display = 'block';document.getElementById('new-msg').style.display = 'none';document.getElementById('unread-msg').style.display = 'none';"><span>All Message</span></a>
						<a href="javascript:void(0);" onclick="document.getElementById('all-msg').style.display = 'none';document.getElementById('new-msg').style.display = 'block';document.getElementById('unread-msg').style.display = 'none';"><span>New Message</span></a>
						<a href="javascript:void(0);" onclick="document.getElementById('all-msg').style.display = 'none';document.getElementById('new-msg').style.display = 'none';document.getElementById('unread-msg').style.display = 'block';"><span>Unread</span></a>
					</div>
			</div>
			
			<div id="all-msg" style="display:block;">

				<ol class="myol">
					<li>Ro,Are you here?<span class="time">2016-10-11</span></li>
                    <li>Ro,Are you here?<span class="time">2016-10-11</span></li>
                    <li>Ro,Are you here?<span class="time">2016-10-11</span></li>
                    <li>Ro,Are you here?<span class="time">2016-10-11</span></li>
                    <li>Ro,Are you here?<span class="time">2016-10-11</span></li>
				</ol>
			</div>
			
			<div id="new-msg">
                <ol class="myol">
					<li>Yeah,what's up?<span class="time">2016-10-11</span></li>
				</ol>
				
			</div>
			
			<div id="unread-msg">
				<ol class="myol">
					<li>Yeah,what's up?<span class="time">2016-10-11</span></li>
                    <li>Yeah,what's up?<span class="time">2016-10-11</span></li>
				</ol>
			</div>
		</div>
        
        <div id="pop">
        	<div class="line1">
            	<span>Write New Message</span>
                <span class="close" onclick="document.getElementById('pop').style.display = 'none';">&times;</span>
            </div>
            <div class="content">
            	<div class="tomail">
                	<input type="text"  placeholder="to email"/>
                </div>
                
                <div class="message_content">
                	<textarea placeholder="write something..."></textarea>
                </div>
                
                <div class="submit">
                	<button onclick="alert('ok');">Sent</button>
                </div>
            </div>
        </div>
</div>