<div class="jumbotron text-center" style = "background-color: white;">
	<link rel="stylesheet" type="text/css" href="../css/common.css" />
	<script type="text/javascript" src="../js/message.js" ></script>
	<div class="main-wrapper">
    		
			<div class="menu">
            
            		<div class="inputs">
                    	<input type="text" placeholder="Search" />
                        <button></button>
                    </div>
            
					<div class="icon-list">
						<a href="javascript:void(0);" onclick="document.getElementById('all-msg').style.display = 'block';document.getElementById('new-msg').style.display = 'none';document.getElementById('unread-msg').style.display = 'none';"><span>Jack</span></a>
						<a href="javascript:void(0);" onclick="document.getElementById('all-msg').style.display = 'none';document.getElementById('new-msg').style.display = 'block';document.getElementById('unread-msg').style.display = 'none';"><span>Phili</span></a>
						<a href="javascript:void(0);" onclick="document.getElementById('all-msg').style.display = 'none';document.getElementById('new-msg').style.display = 'none';document.getElementById('unread-msg').style.display = 'block';"><span>Bob</span></a>
					</div>
			</div>
			
			<div id="all-msg" style="display:block;">
				<div class="mydialog" id="dialog1">
                	<div class="item"><span>Someone:</span><br>xxx xxxx</div>
                    <div class="item"><span>Someone:</span><br>yyyy yyyy</div>
                    <div class="item"><span>Someone:</span><br>yyyy yyyy</div>
                    <div class="item"><span>Someone:</span><br>yyyy yyyy</div>
                    <div class="item"><span>Someone:</span><br>yyyy yyyy</div>
                    <div class="item"><span>Someone:</span><br>yyyy yyyy</div>
                </div>
                
                <div class="enter">
                	<textarea id="textarea1" placeholder="say something..."></textarea>
                    <div class="subb"><button onclick="document.getElementById('dialog1').innerHTML = document.getElementById('dialog1').innerHTML + '<div class=\'item\'><span>Someone:</span><br>'+document.getElementById('textarea1').value+'</div>';document.getElementById('textarea1').value='';">Reply</button></div>
                </div>
			</div>
			
			<div id="new-msg">
                <div class="mydialog" id="dialog2">
                	<div class="item"><span>Someone:</span><br>11 111</div>
                    <div class="item"><span>Someone:</span><br>222 2222</div>
                </div>
				
                <div class="enter">
                	<textarea id="textarea2" placeholder="say something..."></textarea>
                    <div class="subb"><button onclick="document.getElementById('dialog2').innerHTML = document.getElementById('dialog2').innerHTML + '<div class=\'item\'><span>Someone:</span><br>'+document.getElementById('textarea2').value+'</div>';document.getElementById('textarea2').value='';">Reply</button></div>
                </div>
			</div>
			
			<div id="unread-msg">
				<div class="mydialog" id="dialog3">
                	<div class="item"><span>Someone:</span><br>aaa aaa</div>
                    <div class="item"><span>Someone:</span><br>bbb bbbb</div>
                </div>
                
                <div class="enter">
                	<textarea id="textarea3" placeholder="say something..."></textarea>
                    <div class="subb"><button onclick="document.getElementById('dialog3').innerHTML = document.getElementById('dialog3').innerHTML + '<div class=\'item\'><span>Someone:</span><br>'+document.getElementById('textarea3').value+'</div>';document.getElementById('textarea3').value='';">Reply</button></div>
                </div>
			</div>
		</div>
        
        
</div>