<script src="https://use.fontawesome.com/45e03a14ce.js"></script>
<div class="main_section">
	<link rel="stylesheet" type="text/css" href="/css/message.css" />

   <div class="container">
      <div class="chat_container">
         <div class="col-sm-3 chat_sidebar">
    	 <div class="row">

            <div class="dropdown all_conversation">
               <button type="button" id="dropdownMenu2" aria-haspopup="true" aria-expanded="false">
               <i class="fa fa-weixin" aria-hidden="true"></i>
               All Conversations
               </button>
            </div>
            <div class="member_list" id="sidebar">
               <ul class="list-unstyled">
                  <li class="namesCollection left clearfix" ng-repeat='x in namesCollection' ng-click="chat($index, x)" ng-class="{'active': x.selected}">
                     <span class="chat-img pull-left">
                     <img ng-src="{{'http://localhost:8080/api/userImage/' + x._id}}" alt="User Avatar" class="img-circle">
                     </span>
                     <div class="chat-body clearfix">
                        <div class="header_sec">
                           <strong class="primary-font">{{x.name}}</strong> <strong class="pull-right ">
                           </strong>
                        </div>
                     </div>
                  </li>
               </ul>
            </div></div>
         </div>
         <!--chat_sidebar-->
		 
		 
         <div class="col-sm-9 message_section">
			 <div class="row">
				 <div class="new_message_head">
					 <div class="pull-left"><button><i class="fa fa-plus-square-o" aria-hidden="true"></i> New Message {{selectedUser}}</button></div><div class="pull-right"><div class="dropdown"></div></div>
				 </div><!--new_message_head-->
				 
				 <div class="chat_area" id="chatarea">
				 <ul class="list-unstyled">
				 <li class="left clearfix" ng-repeat='x in chatHistory'>
		            <span ng-class="myStyle(x)">
		            <!-- <span class="chat-img1 pull-left" > -->
		            <a href="#"><img ng-src="{{'http://localhost:8080/api/userImage/' + x.id}}" alt="User Avatar" class="img-circle" ng-click="visitProfile(x)"></a>
		            </span>
		            <div class="chat-body1 clearfix">
		                <p>{{x.content}}</p>
		            </div>
		        </li>
				 </ul>
				 </div><!--chat_area-->
		          <div class="message_write">
		    	 <textarea class="form-control" ng-model='replyMessage' placeholder="Type a message..."></textarea>
				 <div class="clearfix"></div>
				<div class="chat_bottom">
					 <a href="#" class="pull-left upload_btn"><i class="fa fa-cloud-upload" aria-hidden="true"></i></a><a href="#" class="pull-right btn btn-success" ng-click="reply()">Send</a>
		 		</div>
				 </div>
			 </div>
         </div> <!--message_section-->
      </div>
   </div>
</div>