<head>
	<title>Navjot Bola - Software Engineer</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/profile.css"> <!-- custom styles -->
	<link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/master/devicon.min.css">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,800' rel='stylesheet' type='text/css'>

</head>

<!-- <div class="jumbotron text-center"> -->
<div class="container" style="margin-top: 20px; margin-bottom: 20px; width: 100%">
	<div class="row panel">
		<div class="col-md-4 bg_blur ">
		</div>
        <div class="col-md-8  col-xs-12">
           <div class="header">
                <h1>Lorem Ipsum</h1>
                <h4>Web Developer</h4>
                <span>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
				"There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain..."</span>
           </div>
        </div>
    </div>   
    
	<div class="row nav">    
        <!-- <div class="col-md-4"></div> -->
        <div class="col-md-12 col-xs-12" style="margin: 0px;padding: 0px;">
            <div class="col-md-3 col-xs-3 well" ng-click="addButton()"><i class="fa fa-plus fa-lg"></i></div>
            <div class="col-md-3 col-xs-3 well" ng-click="addButton()"><i class="fa fa-forumbee fa-lg"></i></div>
            <div class="col-md-3 col-xs-3 well"><i class="fa fa-weixin fa-lg"></i></div>
            <div class="col-md-3 col-xs-3 well"><i class="fa fa-envelope-o fa-lg"></i></div>
        </div>
    </div>
</div>



<div class="row">
	<div class="container ">
		<div class="jumbotron">
	    <div id="editButton"><a href="#menu-toggle" class="btn btn-default" id="menu-toggle">
	        <span><i class="fa fa-pencil" aria-hidden="true"></i></span>
	    </a></div>
			<h2>Summary</h2> 
			<p>Sed pellentesque pharetra mauris nec lobortis. Phasellus diam enim, placerat vel libero et, eleifend varius ipsum. Aliquam in velit tristique, efficitur dolor et, maximus urna. Vivamus fringilla enim vitae felis ornare venenatis. Maecenas ex urna, luctus sed tellus sed, hendrerit cursus urna. Sed eleifend velit nibh, tincidunt suscipit mi congue sed. Phasellus eget justo erat. Vestibulum in placerat purus. Sed consequat tempus purus, eu bibendum velit sagittis nec. Duis imperdiet urna eget tortor dignissim venenatis. Pellentesque bibendum odio eu odio pulvinar, non consequat tellus ultrices. Etiam porttitor accumsan arcu efficitur pulvinar. Aliquam at magna at risus rutrum blandit eget a quam. In tincidunt ipsum eu urna congue, eu euismod leo hendrerit. Curabitur ac dolor risus. Suspendisse dui orci, commodo id orci rhoncus, convallis vehicula est.</p> 
		</div>
	</div>
</div>


<div class="row">
	<div class="container">
		<div class="jumbotron">
	    <div id="editButton"><a href="#menu-toggle" class="btn btn-default" id="menu-toggle">
	        <span><i class="fa fa-pencil" aria-hidden="true"></i></span>
	    </a></div>
			<h2>Education</h2> 
			<img src="./images/profile/sjsu.png" class="pull-left" style="width: 100px; height: auto">
			<p>Sed pellentesque pharetra mauris nec lobortis. Phasellus diam enim, placerat vel libero et, eleifend varius ipsum. Aliquam in velit tristique, efficitur dolor et, maximus urna. Vivamus fringilla enim vitae felis ornare venenatis. Maecenas ex urna, luctus sed tellus sed, hendrerit cursus urna. Sed eleifend velit nibh, tincidunt suscipit mi congue sed. Phasellus eget justo erat. Vestibulum in placerat purus. Sed consequat tempus purus, eu bibendum velit sagittis nec. Duis imperdiet urna eget tortor dignissim venenatis. Pellentesque bibendum odio eu odio pulvinar, non consequat tellus ultrices. Etiam porttitor accumsan arcu efficitur pulvinar. Aliquam at magna at risus rutrum blandit eget a quam. In tincidunt ipsum eu urna congue, eu euismod leo hendrerit. Curabitur ac dolor risus. Suspendisse dui orci, commodo id orci rhoncus, convallis vehicula est.</p> 
		</div>
	</div>
</div>


<div class="row">
	<div class="container">
		<div class="jumbotron">
			<h2>Experience</h2> 
	    <div id="editButton"><a href="#menu-toggle" class="btn btn-default" id="menu-toggle">
	        <span><i class="fa fa-pencil" aria-hidden="true"></i></span>
	    </a></div>
			<img src="./images/profile/micosoft.png" class="pull-left" style="width: 250px; height: auto">
			<ul style="list-style-type: none;">
				<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
				<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
				<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
				<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
			</ul>
		</div>
	</div>
</div>


<div class="row">
	<div class="container">
		<div class="jumbotron">
			<h2>Skills</h2> 
	    <div id="editButton"><a href="#menu-toggle" class="btn btn-default" id="menu-toggle">
	        <span><i class="fa fa-pencil" aria-hidden="true"></i></span>
	    </a></div>
			<div class="progress">
				<div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%;">100%</div>
			</div>
			<div class="progress">
				<div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%; background-color: green">70%</div>
			</div>
			<div class="progress">
				<div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:80%; background-color: purple">80%</div>
			</div>

		</div>
	</div>
</div>
<!-- </div> -->