<head>
	<title>Profile</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/profile.css"> <!-- custom styles -->
	<link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/master/devicon.min.css">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,800' rel='stylesheet' type='text/css'>
    <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>

</head>



<!-- <div class="jumbotron text-center"> -->
<div class="container fade-in one" style="margin-top: 20px; margin-bottom: 20px; width: 80%">

	<div class="row panel">
		<div class="col-md-4 bg_blur img-circle">
		</div>
        <div class="col-md-8  col-xs-12">
           <div class="header">
                <h1>{{user.name}}</h1>
                <h4>{{user.jobTitle}}</h4>
                <span>Working with {{user.company}}</span>
                <div class="row">
                	<i class="fa fa-facebook-official fa-2x" aria-hidden="true" style="padding: 12px; color: #3b5998"></i>
                	<i class="fa fa-twitter-square fa-2x" aria-hidden="true" style="color: #0084b4"></i>
                </div>
           </div>
        </div>
    </div>   
    
	<div class="row nav">    
        <!-- <div class="col-md-4"></div> -->
        <div class="col-md-12 col-xs-12" style="margin: 0px;padding: 0px;">
            <div class="col-md-3 col-xs-3 well" ng-click="requestConnection()"><i class="fa fa-plus fa-lg"></i></div>
            <div class="col-md-3 col-xs-3 well" ng-click="addButton()"><i class="fa fa-forumbee fa-lg"></i></div>
            <div class="col-md-3 col-xs-3 well"><i class="fa fa-weixin fa-lg"></i></div>
            <div class="col-md-3 col-xs-3 well"><i class="fa fa-envelope-o fa-lg"></i></div>
        </div>
    </div>
</div>


 
<div class="row fade-in two">
	<div class="container" style="width: 70%">
		<div class="jumbotron">
			<h2 style="color: #0868A0; text-shadow: 0.5px 0.7px black;">Summary</h2> 
			<p>{{user.summary}}</p> 
		</div>
	</div>
</div>


<div class="row fade-in three">
	<div class="container" style="width: 70%">
		<div class="jumbotron">
			<h2  style="color: #0868A0; text-shadow: 0.5px 0.7px black;"><i class="fa fa-graduation-cap" aria-hidden="true" style="padding-right: 10px;"></i>Education</h2> 
			<div ng-repeat='x in user.education'>
				<div class="row">
					<div class="col-md-12">
						<h2 style="font-weight: bold;" class="pull-left">{{x.schoolName}}</h2>
					</div>
					<div class="col-md-12">
						<h4>{{x.graduationDate}}</h4> 
						<h4>{{x.description}}</h4> 
					</div>
				</div>
			</div>

		</div>
	</div>
</div>


<div class="row fade-in three" >
	<div class="container" style="width: 70%">
		<div class="jumbotron">
			<h2 style="color: #0868A0; text-shadow: 0.5px 0.7px black;"><i class="fa fa-briefcase" aria-hidden="true" style="padding-right: 10px;"></i>Experience</h2> 
			<div ng-repeat='x in user.experience'>
				<div class="row">
					<div class="col-md-12">
						<h2 style="font-weight: bold;" class="pull-left">{{x.company}}</h2>
					</div>
					<div class="col-md-12">
						<h4>{{x.jobTitle}}</h4> 
						<h4>{{x.responsibility}}</h4> 
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="row fade-in three" >
	<div class="container" style="width: 70%; padding-bottom: 10px;">
		<div class="jumbotron">

			<h2 style="color: #0868A0; text-shadow: 0.5px 0.7px black;"><i class="fa fa-wrench" aria-hidden="true" style="padding-right: 10px;"></i>Skills</h2> 

		    <div ng-repeat='x in user.skills' >
		    	<h2>{{x.skillName}}</h2>
		    	<h4>{{x.skillLevel}}</h4>
		    </div>

		</div>
	</div>
</div>

