<div align="center" style="background:url('./images/login/background2.jpg');margin=40px;">
	<link rel="stylesheet" type="text/css" href="../css/login.css" />
	<link rel="stylesheet" type="text/css" href="../css/simplegrid.css" />

	
	<body>
		
		<div class="grid grid-pad" style="padding-bottom:50px;">
			<div class="col-6-12 fade-in one">
        	   	<img src= "./images/login/logo.jpg" alt="company Logo" style="max-width:100%; margin-top:20px;"/>

                <div style="margin-top:20px">
                    <marquee behavior="" direction="LEFT" hspace="0" vspace="0" loop="INFINITE" scrollamount="15">
                        <img src="./images/1.png">
                    </marquee>
                </div>
    		</div>
            
    		<div class="col-6-12 fade-in one">
    			<div ng-hide="verifyAccount">
            	<h align="center">Password Reset Step 1 of 2</h>
            		<form name="form1" role="form">
            			
            			<div class="form-group" ng-class="{ 'has-error': form1.email.$pristine || (form1.email.$dirty && form1.email.$error.required) || form1.email.$invalid}">
            				<label for="Email">Email</label>
	            			<input style="width:60%; margin-top:10px;" type="text" name="email" id="email" class="form-control" ng-model="user.email" placeholder="email"
	            				pattern="[a-zA-Z0-9._+-]{1,63}@([a-zA-Z0-9]{1,63}){1,5}\.[a-zA-Z]{2,10}" required/>
	            		</div>
            	
            			<div class="form-group" ng-class="{ 'has-error': form1.birthday.$pristine || (form1.birthday.$dirty && form1.birthday.$error.required) || form1.birthday.$invalid}">
							<label for="birthday">Date Of Birth</label>
							<input style="width:60%; margin-top:10px;" type="text" name="birthday" name="birthday" class="form-control" ng-model="user.birthday" 
								pattern="^\d{4}-\d{2}-\d{2}$" placeholder="YYYY-DD-MM" title="Date Format : YYYY-MM-DD" required>
						</div>
            	
            			<div class="form-group">
            				<button type="submit" ng-click="accountLookup(user)" title="Missing or Invalid Required Field(s) Value." class="btn btn-primary" ng-disabled="form1.$invalid">
           						<span>Account Lookup</span>
         					</button>
            			</div>
            			<span>{{accountError}}</span>
            		
   					</form>
    		  	</div>
    		  	
    		  	<div ng-show="verifyAccount">
            	<h align="center">Password Reset Step 2 of 2</h>
            		<form name="form2" role="form">
                   	
           				<label for="question">Secret Question: {{sQuestions}}</label>
	            		<div class="form-group" ng-class="{ 'has-error': (form2.answer.$pristine || form2.answer.$dirty) && form2.answer.$error.required}">
	            			<label for="answer">Security Question's Answer</label>
    	        			<input style="width:60%; margin-top:10px;" type="text" name="answer" id="answer" class="form-control" placeholder="Your Answer" ng-model="user.sAnswer" required/>
	            		</div>
            	
            			<div class="form-group" ng-class="{ 'has-error': form2.password.$pristine || (form2.password.$dirty && form2.password.$error.required) || form2.password.$invalid}">
	            			<label for="password">Password</label>
    	        			<input style="width:60%; margin-top:10px;" type="password" name="password" id="password" class="form-control" ng-model="user.password" placeholder="Password" 
    	        				pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[\[$&+,:;=?@#|'<>.\-^*()%!\]]).{6,18}"
								title="Password Requirements(Minimum):&#xA;1 Upper Case Letter.&#xA;1 Lower Case Letter.&#xA;1 Special Character.&#xA;1 Numeric Character.&#xA;6-18 Characters.&#xA;MUST MATCH WITH PASSWORD CONFIRMATION." required/>
	            		</div>
	            
	            		<div class="form-group" ng-class="{ 'has-error': form2.passwordConf.$pristine || (form2.passwordConf.$dirty && form2.passwordConf.$error.required) || form2.passwordConf.$invalid}">
	            			<label for="passwordConf">Password Confirmation</label>
    	        			<input style="width:60%; margin-top:10px;" type="password" name="passwordConf" id="passwordConf" class="form-control" ng-model="user.passwordConf" placeholder="Password Confirmation"
    	        				pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[\[$&+,:;=?@#|'<>.\-^*()%!\]]).{6,18}"
								title="Password Requirements(Minimum):&#xA;1 Upper Case Letter.&#xA;1 Lower Case Letter.&#xA;1 Special Character.&#xA;1 Numeric Character.&#xA;6-18 Characters.&#xA;MUST MATCH WITH PASSWORD." required/>
    	        			<span ng-show="validatePasswordConfirmation(form2.password, form2.passwordConf)" class="help-block">The two password field does not match</span>	
	            		</div>
            	
            			<div class="form-group">
            				<button type="submit" ng-click="resetPassword(user)" class="btn btn-primary" title="Missing or Invalid Required Field(s) Value." ng-disabled="form2.$invalid || validatePasswordConfirmation(form2.password, form2.passwordConf)">
           						<span>Reset My Password</span>
         					</button>
            			</div>
            		
   					</form>
    		  	</div>
    		  
    		  
    		</div>
		</div>
	<br/>
	</body>
</div>