<div align="center" style="background:url('./images/login/background2.jpg');margin=40px;">
	<link rel="stylesheet" type="text/css" href="../css/login.css" />
	<link rel="stylesheet" type="text/css" href="../css/simplegrid.css" />

	
	<body>
		
		<div class="grid grid-pad" style="padding-bottom:50px;">
			<div class="col-8-12">
        	   	<img src= "./images/login/logo.jpg" alt="company Logo" style="max-width:100%; margin-top:30px;"/>
    		</div>
            
    		<div class="col-4-12">
            	<h align="center"> Join net<b>[Work]</b> today.</h>
                
                
                
    		    <form name="form" role="form">
                
                <div class="form-group" style="text-align:left">
	            	<label for="firstname">First Name</label>
    	        	<input type="text" name="firstname" id="firstname" class="form-control" placeholder="First Name" />
        		</div>
                
                <div class="form-group" style="text-align:left">
	            	<label for="lastname">Last Name</label>
    	        	<input type="text" name="lastname" id="lastname" class="form-control" placeholder="Last Names" />
        		</div>
                
        		<div class="form-group" style="text-align:left">
            		<label for="Email">Email</label>
	            	<input type="text" name="email" id="email" class="form-control" ng-model="email" placeholder="Email" />
        		</div>
        		<div class="form-group" style="text-align:left">
	            	<label for="password">Password</label>
    	        	<input type="password" name="password" id="password" class="form-control" ng-model="password" placeholder="Password" />
        		</div>
        		<div class="form-group" style="text-align:left">
	            	<label for="passwordConf">Password Confirmation</label>
    	        	<input type="password" name="passwordConf" id="passwordConf" class="form-control" ng-model="passwordConf" placeholder="Password Confirmation" />
        		</div>

                
                <div class="form-group" style="text-align:left; margin-bottom:0px;">
	            	<label>Secret Question</label>
    	        	<select>
                    	<option>-Select One-</option>
                        <option>xxxxx xx xx</option>
                        <option>yyyy yy yyy</option>
                        <option>zzz zz zz</option>
                    </select>
        		</div>
                
                
                <div class="form-group" style="text-align:left; margin-top:0px;">
	            	<label for="answer">Your Answer</label>
    	        	<input type="text" name="answer" id="answer" class="form-control" placeholder="Your Answer" />
        		</div>
                
        		<label for="day">Day: </label>
        		<select name=birthday" id="day">
        		<option>1</option>
        		<option>2</option>
        		<option>3</option>
        		<option>4</option>
        		<option>5</option>
        		<option>6</option>
        		<option>7</option>
        		<option>8</option>
        		<option>9</option>
        		<option>10</option>
        		<option>11</option>
        		<option>12</option>
        		<option>13</option>
        		<option>14</option>
        		<option>15</option>
        		<option>16</option>
        		<option>17</option>
        		<option>18</option>
        		<option>19</option>
        		<option>20</option>
        		<option>21</option>
        		<option>22</option>
        		<option>23</option>
        		<option>24</option>
        		<option>25</option>
        		<option>26</option>
        		<option>27</option>
        		<option>28</option>
        		<option>29</option>
        		<option>30</option>
        		<option>31</option>
        		</select>
        		
        		<label for="month">Month: </label>
        		<select name=birthday" id="month">
        		<option>January</option>
        		<option>February</option>
        		<option>March</option>
        		<option>April</option>
        		<option>May</option>
        		<option>June</option>
        		<option>July</option>
        		<option>August</option>
        		<option>September</option>
        		<option>October</option>
        		<option>November</option>
        		<option>December</option>
        		</select>
        		
        		<label for="year">Year: </label>
        		<select name=birthday" id="year">
				<option>1990</option>
				<option>1991</option>
				<option>1992</option>
				<option>1993</option>
				<option>1994</option>
				<option>1995</option>
				<option>1996</option>
				<option>1997</option>
				<option>1998</option>
        		</select>
        		
        		<br>
        		
        		<input type="checkbox" name="premium">Premium User<br>
        		
        		<br>
        		
        		<div class="form-group">
            		<button type="submit" ng-click=" " class="btn btn-primary" value="Login" title="Login">
           				<span>Begin Work Journey!</span>
         			</button>
            	</div>
   				</form>
    		</div>
		</div>
	<br />
	</body>
</div>