<body>

 <table width="100%" border="0">

  <tr><td valign="top">


   
</td>

 <td valign="top">

	<div>Search By:</div>
		

	<label>Name:</label><input type="text" placeholder="Name.."><br/>

	<label>Skills:</label><input type="text" placeholder="Skills.."><br/>

	<label>Endorsements:</label><input type="text" placeholder="Endorsements.."><br/>

   <a href="profile"><img src= "./images/search/ciscoresults.jpg" alt="name" width="527" height="62" /><br/>

   <a href="profile"><img src= "./images/search/personresults.jpg" alt="name" width="527" height="62" /><br/>

   <a href="profile"><img src= "./images/search/intelresults.jpg" alt="name" width="527" height="62" /><br/>

   </td></tr>

  </table>

 </body>

