<link rel="stylesheet" type="text/css" href="css/search.css">

<body>
  <div class="row">
  <div class="col-lg-4">
    
  </div><!-- /.col-lg-6 -->
  <div class="col-lg-4">
    <div class="input-group">
      <input type="text" class="form-control" aria-label="...">
      <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Action <span class="caret"></span></button>
        <ul class="dropdown-menu dropdown-menu-right">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </div><!-- /btn-group -->





    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
  <div class="col-lg-4"></div>

</div>


<div class="row">
  <div class="col-lg-4">

  </div>
  <div class="col-lg-4">
        <ul>
    <li>
      <img src="https://static.pexels.com/photos/28409/pexels-photo.jpg" >
      <h3>The Grasslands</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent euismod ultrices ante, ac laoreet nulla vestibulum adipiscing. Nam quis justo in augue auctor imperdiet.</p>
    </li>
      
    <li>
      <img src="https://static.pexels.com/photos/5198/bow-tie-fashion-man-person.jpg" >
      <h3>Paradise Found</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent euismod ultrices ante, ac laoreet nulla vestibulum adipiscing. Nam quis justo in augue auctor imperdiet.</p>
    </li>

    <li>
      <img src="https://static.pexels.com/photos/7529/pexels-photo.jpeg" >
      <h3>Smoke On The Water</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent euismod ultrices ante, ac laoreet nulla vestibulum adipiscing. Nam quis justo in augue auctor imperdiet.</p>
    </li>

    <li>
      <img src="https://static.pexels.com/photos/7077/man-people-office-writing.jpg" >
      <h3>Headline</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent euismod ultrices ante, ac laoreet nulla vestibulum adipiscing. Nam quis justo in augue auctor imperdiet.</p>
    </li>
  </ul>
  </div>
      
 
  <div class="col-lg-4"></div>


</div>

</body>
