@charset "UTF-8";
/* CSS Document */
h1{
	font-family:"Arial Black", Gadget, sans-serif;
	color:#000;
	font-size:large;
	align: center;
}
table {
	width:100%;
	align: center;
}
hr{
	width: 95%;
	align: center;
}
th{
	padding: 20px;
}
div #boxed{
	border: 2px solid #000; 
	border-radius: 5px;	
}
img src #photo{
	height: 100px;
	width: 100px;
}
Button{
	border-radius: 15px;
	align: right;
}

