@charset "UTF-8";
/* CSS Document */
div{
	align: center;
}
h1{
	font-family:"Arial Black", Gadget, sans-serif;
	color:#000;
	font-size:larger;
	float: center;
	position: 60px;
}
table {
	width:30%;
	border: 5;
	color: gray;
    background-color: white;
    border-radius: 25px;
	float: center;
}
hr{
	width: 95%;
	align: center;
}
th{
	border: 2px solid;
    border-radius: 25px;
    border-color: #CCC;
}
#photo{
	height: 100px;
	width: 100px;
	border-radius: 15px;
}
div #boxed{
	align: center;
	border: 2px solid #FFF;
    border-radius: 25px;
	padding:20px;
}
button{
	border-radius: 15px;
}

