#forumOptionsWrapper > ul > li {
    list-style-type: none;
    display: inline;
    margin: 10px;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 20px;

}
#forumOptionsWrapper > ul > li > a {
    text-decoration: none;
    color: black;
}
#forumOptionsWrapper > ul > li > a:hover {
    color: white;
}
.media{
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 14px;
line-height: 1.42857143;
color: #fff;
background-color: #F1F1F1;
}
.jumbotron {
    position:relative;
}



/*
.media {
    border: 2px solid;
    border-radius: 25px;
    background-color: dodgerblue;

}*/
/*
div {
    border: 2px solid;
    border-radius: 25px;
}*/

#options {
    padding-top: 10px;
 
}
#forumOptions {
    background-color: dodgerblue;
    width: 100%;
    height: 50px;
}
.forum {
    width: 95%;
    height: 400px;
    margin: 0 auto;
    background-color: dodgerblue;
}
.media-object {
    width: 200px;
    height: 200px;
}
.media-heading > a {
    text-decoration: none;
    color: black;
}
.media-header > a:hover {
    color: dodgerblue;
}