hr{
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    color: #EEEEEE;
}
/*border around divs*/
.media {
    border-radius: 10px;
}
/*forum picture*/
.media-object {
    width: 150px;
    height: 150px;
    margin: 30px;
}

.comment-owner{
    width: 75px;
    height: 75px;
    margin: 5px;
    float: left;

}


/*forum name*/
.media-heading > a {
    text-decoration: none;
    color: black;
}
.media-heading {
    padding-top: 30px;
    font-size: 25px;
    color: black;
}

.media-body{
     font-family: Arial, Gadget, sans-serif;

}
/*forum description*/
.media-body > p {
   
    font-size: 20px;
}
.media-left > p {

    font-size: 15px;
}
/*featured style*/
.featured{
    background-color: #0868A0;
    color: white;
}

.textcolor{
    color:white;
}
/*glyphicon style*/
.glyphicon {
    padding-right: 10px;
}
/*forums style*/
.forums {
    background-color: #42BBEB;
    box-shadow: 3px 3px 5px #888888;
}
.featured{
    background-color: #0868A0;
    color: white;
}
/*glyphicon style*/
.glyphicon {
    padding-right: 10px;
}
.panel{
    border-radius:10px;

}
.form-control{
    border-radius: 10px;
}
.panel-body{
    font-size: 14px;
}

.comment-description{
    font-size: 14px;
}
.thumbnail > img{
    width: 75px;
    height: 75px;
    margin: 5px;

}


/*create bytton style*/
#createBtn {
    float: left;
}

#submitBtn{
    float: right;
}

/*COMMENTS SECTION*/
/*font Awesome http://fontawesome.io*/
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);
/*Comment List styles*/
.comment-list .row {
    margin-bottom: 0px;
}
.comment-list .panel .panel-heading {
    padding: 4px 15px;
    position: absolute;
    border:none;
    /*Panel-heading border radius*/
    border-top-right-radius:0px;
    top: 1px;
}
.comment-list .panel .panel-heading.right {
    border-right-width: 0px;
    /*Panel-heading border radius*/
    border-top-left-radius:0px;
    right: 16px;
}
.comment-list .panel .panel-heading .panel-body {
    padding-top: 6px;
}
.comment-list figcaption {
    /*For wrapping text in thumbnail*/
    word-wrap: break-word;
}
/* Portrait tablets and medium desktops */
@media (min-width: 768px) {
    .comment-list .arrow:after, .comment-list .arrow:before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-color: transparent;
    }
    .comment-list .panel.arrow.left:after, .comment-list .panel.arrow.left:before {
        border-left: 0;
    }
    /*****Left Arrow*****/
    /*Outline effect style*/
    .comment-list .panel.arrow.left:before {
        left: 0px;
        top: 30px;
        /*Use boarder color of panel*/
        border-right-color: inherit;
        border-width: 16px;
    }
    /*Background color effect*/
    .comment-list .panel.arrow.left:after {
        left: 1px;
        top: 31px;
        /*Change for different outline color*/
        border-right-color: #FFFFFF;
        border-width: 15px;
    }
    /*****Right Arrow*****/
    /*Outline effect style*/
    .comment-list .panel.arrow.right:before {
        right: -16px;
        top: 30px;
        /*Use boarder color of panel*/
        border-left-color: inherit;
        border-width: 16px;
    }
    /*Background color effect*/
    .comment-list .panel.arrow.right:after {
        right: -14px;
        top: 31px;
        /*Change for different outline color*/
        border-left-color: #FFFFFF;
        border-width: 15px;
    }
}
.comment-list .comment-post {
    margin-top: 6px;
}

/*COMMENT BOX*/
body{ background: #fafafa;}
.widget-area.blank {
background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
-webkit-box-shadow: none;
-moz-box-shadow: none;
-ms-box-shadow: none;
-o-box-shadow: none;
box-shadow: none;
}
body .no-padding {
padding: 0;
}
.widget-area {
background-color: #fff;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
-ms-border-radius: 4px;
-o-border-radius: 4px;
border-radius: 4px;
-webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
-moz-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
-ms-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
-o-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
float: left;
margin-top: 30px;
padding: 25px 30px;
position: relative;
width: 100%;
}
.status-upload {
background: none repeat scroll 0 0 #f5f5f5;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
-ms-border-radius: 4px;
-o-border-radius: 4px;
border-radius: 4px;
float: left;
width: 100%;
}
.status-upload form {
float: left;
width: 100%;
}
.status-upload form textarea {
background: none repeat scroll 0 0 #fff;
border: medium none;
-webkit-border-radius: 4px 4px 0 0;
-moz-border-radius: 4px 4px 0 0;
-ms-border-radius: 4px 4px 0 0;
-o-border-radius: 4px 4px 0 0;
border-radius: 4px 4px 0 0;
color: #777777;
float: left;
font-family: Lato;
font-size: 14px;
height: 142px;
letter-spacing: 0.3px;
padding: 20px;
width: 100%;
resize:vertical;
outline:none;
border: 1px solid #F2F2F2;
}

.status-upload ul {
float: left;
list-style: none outside none;
margin: 0;
padding: 0 0 0 15px;
width: auto;
}
.status-upload ul > li {
float: left;
}
.status-upload ul > li > a {
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
-ms-border-radius: 4px;
-o-border-radius: 4px;
border-radius: 4px;
color: #777777;
float: left;
font-size: 14px;
height: 30px;
line-height: 30px;
margin: 10px 0 10px 10px;
text-align: center;
-webkit-transition: all 0.4s ease 0s;
-moz-transition: all 0.4s ease 0s;
-ms-transition: all 0.4s ease 0s;
-o-transition: all 0.4s ease 0s;
transition: all 0.4s ease 0s;
width: 30px;
cursor: pointer;
}
.status-upload ul > li > a:hover {
background: none repeat scroll 0 0 #606060;
color: #fff;
}
.status-upload form button {
border: medium none;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
-ms-border-radius: 4px;
-o-border-radius: 4px;
border-radius: 4px;
color: #fff;
float: right;
font-family: Lato;
font-size: 14px;
letter-spacing: 0.3px;
margin-right: 9px;
margin-top: 9px;
padding: 6px 15px;
}
.dropdown > a > span.green:before {
border-left-color: #2dcb73;
}
.status-upload form button > i {
margin-right: 7px;
}