* {margin:0;padding:0;}

#header {
	background:#434343;
	overflow:hidden;
}
.wrapper {
	width:1240px;
	height:75px;
	margin:0 auto;
}

.logo {
	height:100%;
	width:150px;
	background:url(../images/logo.png) 0 0 no-repeat;
	background-size:150px 75px;
	float:left;
}
.search-box {
	float:left;
	height:45px;
	width:398px;
	background:url(../images/search.png) 0 0 no-repeat;
	background-size:398px 35px;
	margin:30px 0 0 70px;
}
.search-box .search {
	display:none;
	width:348px;
	margin:8px 0 0 15px;
}


.contact {
	margin-left:100px;
	float:left;
	width:400px;
	height:100%;
	
}
.contact li {
	list-style-type:none;
	width:70px;
	height:75px;
	float:left;
	margin-right:30px;
}
.contact li i {
	margin-top:15px;
	height:50px;
	width:68px;
	display:block;
}
.contact .profile {
	background:url(../images/profile.png) 0 0 no-repeat;
	background-size:60px 50px;
}
.contact .connections {
	background:url(../images/connections.png) 0 0 no-repeat;
	background-size:56px 50px;
}
.contact .messages {
	background:url(../images/messages.png) 0 0 no-repeat;
	background-size:68px 50px;
}
.log-out {
	height:100%;
	float:left;
	color:#fff;
	padding:0 10px;
	text-align:center;
	line-height:75px;
	cursor:pointer;
	font-size:18px;
}

.main-wrapper {
	
	width:1240px;
	margin:0 auto;
	margin-top:3px;
}
.main-wrapper .banner {
	min-height:300px;
	width:540px;
	float:left;
}
.main-wrapper .login {
	float:left;
}
.main-wrapper .login-box {
	position:relative;
	top:100px;
	left:100px;
	float:left;
}

.login-box input {
	height:40px;
	width:300px;
	line-height:38px;
	margin-top:6px;
}
.login-box .button {
	width:120px;
	height:40px;
	margin-top:10px;
}
.login-box input.Signin {
	width:120px;
	height:40px;
	margin-top:10px;
	background-color: transparent; 
	border: 0;
	position:absolute;
	left:2px;
}
.login-box input.Signup {
	width:120px;
	height:40px;
	margin-top:10px;
	background-color: transparent; 
	border: 0;
	position:absolute;
	left:158px;
}
