* {margin: 0; padding: 0;}

body {
  background: #eee;
}


li:hover {
  background: #eee;
  cursor: pointer;
}

.col-lg-4 {
  float: center;
}


.col-lg-4 h3 {
  font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
}

.col-lg-4 li {
  padding: 10px;
  overflow: auto;
}

.col-lg-4 ul {
  list-style-type: none;
  width: 500px;
}

.col-lg-4 li p {
  font: 200 12px/1.5 Georgia, Times New Roman, serif;
}

.col-lg-4 li img {
  width: 100px;
  height: 100px;
  float: left;
  margin: 0 15px 0 0;
}

