* {margin: 0; padding: 0;}

body {
  background: #eee;
}

.form-group{
	font-family: Arial, Gadget, sans-serif;
    font-size:18px;
}
form-control{
	border-radius: 15px;
	font-size: 18px;
	font-family: Arial, Gadget, sans-serif;
}
li:hover {
  background: #eee;
  cursor: pointer;
}

.col-lg-4 {
  float: center;
}

#user {
   display:none;
}


.col-lg-4 h3 {
  font: bold 20px/1.5 Arial, Gadget, sans-serif;
}

.col-lg-4 li {
  padding: 10px;
  overflow: auto;
}

.col-lg-4 ul {
  list-style-type: none;
  width: 500px;
}

.col-lg-4 li p {
  font: 200 12px/1.5 Arial, Gadget, sans-serif;
}

.col-lg-4 li img {
  width: 100px;
  height: 100px;
  float: left;
  margin: 0 15px 0 0;
}

