/* make keyframes that tell the start state and the end state of our object */

@-webkit-keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }

.fade-in {
    opacity:0;  /* make things invisible upon start */
    -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;

    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
}

.fade-in.one {
-webkit-animation-delay: 0.1s;
-moz-animation-delay: 0.1s;
animation-delay: 0.1s;
}

.fade-in.two {
-webkit-animation-delay: 0.7s;
-moz-animation-delay:0.7s;
animation-delay: 0.7s;
}

.fade-in.three {
-webkit-animation-delay: 1.1s;
-moz-animation-delay: 1.1s;
animation-delay: 1.1s;
}

.fade-in.four {
-webkit-animation-delay: 1.5s;
-moz-animation-delay: 1.5s;
animation-delay: 1.5s;
}

.fade-in.five {
-webkit-animation-delay: 1.9s;
-moz-animation-delay: 1.9s;
animation-delay: 1.9s;
}

.fade-in.six {
-webkit-animation-delay: 2.3s;
-moz-animation-delay: 2.3s;
animation-delay: 2.3s;
}

.fade-in.seven {
-webkit-animation-delay: 2.6s;
-moz-animation-delay: 2.6s;
animation-delay: 2.6s;
}
body{margin-top:20px;}

.p-lg {
  padding: 30px;
}

.lazur-bg {
  background-color: white;
  color: black;
}

.red-bg {
  background-color: #ed5565;
  color: #ffffff;
}

.navy-bg {
  background-color: #1ab394;
  color: #ffffff;
}

.yellow-bg {
  background-color: #f8ac59;
  color: #ffffff;
}

.widget-head-color-box {
  border-color: #00BEED
  border-radius: 5px 5px 0px 0px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.m-b-md {
  margin-bottom: 20px;
}

.no-margins {
  margin: 0 !important;
}

.font-bold {
  font-weight: 600;
}

img.circle-border {
  border: 6px solid #FFFFFF;
  border-radius: 50%;
}

.widget-text-box {
  padding: 20px;
  border: 1px solid #e7eaec;
  background: #ffffff;
}

.media-heading {
  margin-top: 0;
  margin-bottom: 5px;
}
/*navs random stuff*/
* {margin: 0; padding: 0;}

body {
  background: #eee;
}

.form-group{
	font-family: Arial, Gadget, sans-serif;
    font-size:18px;
}
form-control{
	border-radius: 15px;
	font-size: 18px;
	font-family: Arial, Gadget, sans-serif;
}
/*li:hover {
  background: #eee;
  cursor: pointer;
}*/

.col-lg-4 {
  float: center;
}

#user {
   display:none;
}


.col-lg-4 h3 {
  font: bold 20px/1.5 Arial, Gadget, sans-serif;
}

.col-lg-4 li {
  padding: 10px;
  overflow: auto;
}

.col-lg-4 ul {
  list-style-type: none;
  width: 500px;
}

.col-lg-4 li p {
  font: 200 12px/1.5 Arial, Gadget, sans-serif;
}

.col-lg-4 li img {
  width: 100px;
  height: 100px;
  float: left;
  margin: 0 15px 0 0;
}

